{% extends 'base.html' %}

<!-- 13.4: template that shows the tasks of a project -->
{% block content %}
    <main>
        <div>
            <h1>{{ project_details.name }}</h1>
            <p>{{ project_details.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project_details.tasks.all|length > 0 %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for task in project_details.tasks.all %}
                        <tr>
                            <!-- has to point to task model since foreignkey(?) -->
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <!-- Test 13 fails if the <p> doesnt have the exact phrase SOMEWHERE
                    in the it. I can add as much as i want but i need to have the sentence
                        'This project has no tasks' somewhere in it-->
                <p>
                    What are you doing? This project has no tasks.
                    Ask your supervisor to assign you a task
                </p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
