{% extends 'base.html' %}

<!-- feature 5.4: template for list view -->
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <!-- feature 14.6: -->
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            <!-- the test feature doesnt check for the if statement
            and will pass even if its not added -->
            {% if project_lists|length_is:0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for list in project_lists %}
                        <!-- test 13 doesnt check if the table body has headers or data
                        test 16 does for some reason -->
                        <tr>
                            <!-- feature 13.6: added <a> tag so detail is linked -->
                            <th>
                                <a href="{% url 'show_project' list.id %}">{{ list.name }}</a>
                            </th>
                            <!-- feature 13.5: updating the count so it shows
                                the amoount of tasks in a project -->
                            <th>{{ list.tasks.all|length }}</th>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
